*{
    box-sizing: border-box;
}


div{
    width: 30px;
    height: 30px;
    float: left;

}
section#container{
    width: 630px;
    align-content: center;
}

.gdiv{
    background-color: green;
}

.rdiv{
    background-color: red;
}

.wdiv{
    background-color: white;
}

.bdiv{
    background-color: blue;
}

.balldiv{
    background-color: black;
}